<!--
 | @author xiangqian
 | @date 21:47 2024/03/03
 |-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/css/body.css}" type="text/css"/>
    <title>项目</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>名称</td>
        <td>Git</td>
        <td>仓库地址</td>
        <td>分支名</td>
        <td>服务器</td>
        <td>创建时间</td>
        <td>修改时间</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vo : ${vos}" th:id="${vo.id}" th:name="${vo.name}">
        <td th:text="${vo.name}"></td>
        <td><a th:href="@{'/git/' + ${vo.gitId} + '?t=' + ${timestamp}}" th:text="${vo.gitName}"></a></td>
        <td th:text="${vo.repoUrl}"></td>
        <td th:text="${vo.branch}"></td>
        <td><a th:href="@{'/server/' + ${vo.serverId} + '?t=' + ${timestamp}}" th:text="${vo.serverName}"></a></td>
        <td th:text="${T(org.xiangqian.auto.deploy.util.DateUtil).humanSecond(vo.addTime)}"></td>
        <td th:text="${T(org.xiangqian.auto.deploy.util.DateUtil).humanSecond(vo.updTime)}"></td>
        <td style="visibility: hidden;">
            <a th:href="@{'/item/' + ${vo.id} + '?t=' + ${timestamp}}">修改</a>
            <form method="post" th:action="@{'/item/' + ${vo.id} + '?t=' + ${timestamp}}" style="display: inline-block;">
                <input name="_method" value="DELETE" type="hidden">
                <button name="del">删除</button>
            </form>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="6">
            <a id="add" th:href="@{'/item/add?t=' + ${timestamp}}">新增</a>
        </td>
    </tr>
    </tfoot>
</table>
</body>
<div th:replace="foot"></div>
</html>
<script type="text/javascript" th:src="@{/static/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/js/body.js}"></script>
<script type="text/javascript" th:src="@{/static/js/foot.js}"></script>
<script type="text/javascript">
    ;
    $(function () {
        function Item(id, name) {
            this.id = id
            this.name = name
        }

        function getItem($element) {
            // 查找元素最近的父级<tr>元素
            let $tr = $element.closest('tr')

            let id = $tr.attr('id')
            let name = $tr.attr('name')
            return new Item(id, name)
        }

        // 删除
        $('button[name=del]').click(function (event) {
            // 获取目标<button>元素
            let $button = $(event.currentTarget)

            let item = getItem($button)
            if (confirm(`确定删除项目：${item.name} ？`)) {
                return true
            } else {
                return false
            }
        })
    })
    ;
</script>
