<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xiangqian.auto.deploy.mapper.IndexMapper">

    <select id="list" resultType="org.xiangqian.auto.deploy.vo.ItemRecordVo">
        SELECT
        i.id AS 'item_id',
        i.`name` AS 'item_name',
        i.repo_url,
        i.branch,
        u.`name` AS 'user_name',
        u.nickname AS 'user_nickname',
        r.*
        FROM item i
        LEFT JOIN(SELECT * FROM record WHERE id IN (SELECT MAX(id) FROM record GROUP BY item_id)) r ON r.item_id = i.id
        LEFT JOIN user u ON u.id = r.user_id
        <where>
            <if test="itemIds != null">
                AND i.id IN
                <foreach collection="itemIds" item="itemId" open="(" separator="," close=")">
                    #{itemId}
                </foreach>
            </if>
        </where>
        GROUP BY i.id
    </select>

</mapper>
