<!--
 | @author xiangqian
 | @date 16:57 2024/03/03
 |-->

<!DOCTYPE html>
<html lang="en" th:with="isUpd=${vo} != null and ${vo.id} != null">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/css/body.css}" type="text/css" />
    <title th:text="${isUpd ? ('用户：' + vo.nickname) : '新增用户'}"></title>
</head>
<body>
<error th:text="${error}"></error>
<form method="post" th:action="@{'/user' + (${isUpd} ? '/current' : '') + '?t=' + ${timestamp}}">
    <input th:if="${isUpd}" name="_method" value="PUT" type="hidden">
    <table>
        <tbody>
        <tr>
            <td><span style="font-weight: bold;">*</span><label>用户名</label></td>
            <td><input id="name" name="name" type="text" th:value="${vo} != null ? ${vo.name} : ''" required autofocus></td>
        </tr>
        <tr>
            <td><span style="font-weight: bold;">*</span><label>昵称</label></td>
            <td><input id="nickname" name="nickname" type="text" th:value="${vo} != null ? ${vo.nickname} : ''" required></td>
        </tr>
        <tr th:unless="${isUpd}">
            <td><span style="font-weight: bold;">*</span><label>密码</label></td>
            <td><input id="passwd" name="passwd" type="password" required></td>
        </tr>
        <tr th:if="${isUpd}">
            <td><span style="font-weight: bold;">*</span><label>原密码</label></td>
            <td><input name="origPasswd" type="password" required></td>
        </tr>
        <tr th:if="${isUpd}">
            <td><span style="font-weight: bold;">*</span><label>新密码</label></td>
            <td><input name="newPasswd" type="password" required></td>
        </tr>
        <tr th:if="${isUpd}">
            <td><span style="font-weight: bold;">*</span><label>再次输入新密码</label></td>
            <td><input name="reNewPasswd" type="password" required></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" th:value="${isUpd ? '修改' : '新增'}">
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
<div th:replace="foot"></div>
</html>
<script type="text/javascript" th:src="@{/static/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/js/body.js}"></script>
