<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/css/body.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/static/css/foot.css}" type="text/css" />
    <title>用户</title>
</head>
<body class="body">
<table class="table">
    <thead>
    <tr>
        <td>用户名</td>
        <td>昵称</td>
        <td>是否已锁定</td>
        <td>最近一次登录ip</td>
        <td>最近一次登录时间</td>
        <td>创建时间</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.nickname}"></td>
        <td th:text="${user.locked} == 0? '否' : '是'"></td>
        <td th:text="${user.currentLoginIp}"></td>
        <td th:text="${T(org.xiangqian.auto.deploy.util.DateUtil).humanSecond(user.currentLoginTime)}"></td>
        <td th:text="${T(org.xiangqian.auto.deploy.util.DateUtil).humanSecond(user.addTime)}"></td>
    </tr>
    </tbody>
</table>
</body>
<div th:replace="foot"></div>
</html>
