<!--
 | @author xiangqian
 | @date 20:08 2023/07/10
 |-->

<foot>
    <p th:if="${session.isLoggedin}">导航
    <ul th:if="${session.isLoggedin}">
        <li><a th:href="@{'/?t=' + ${timestamp}}" th:class="'/' == ${servletPath}? 'disabled' : ''">首页</a></li>
        <li th:if="${session.isAdminRole}"><a th:href="@{'/user/list?t=' + ${timestamp}}" th:class="'/user/list' == ${servletPath}? 'disabled' : ''">用户</a></li>
        <li th:if="${session.isAdminRole}"><a th:href="@{'/git/list?t=' + ${timestamp}}" th:class="'/git/list' == ${servletPath}? 'disabled' : ''">Git</a></li>
        <li th:if="${session.isAdminRole}"><a th:href="@{'/server/list?t=' + ${timestamp}}" th:class="'/server/list' == ${servletPath}? 'disabled' : ''">服务器</a></li>
        <li th:if="${session.isAdminRole}"><a th:href="@{'/item/list?t=' + ${timestamp}}" th:class="'/item/list' == ${servletPath}? 'disabled' : ''">项目</a></li>
    </ul>
    </p>
    <!-- 定义user变量并使用 -->
    <p th:if="${session.isLoggedin}">
        <a th:href="@{'/user/current?t=' + ${timestamp}}" th:class="'/user/current' == ${servletPath}? 'disabled' : ''"
           th:text="${T(org.apache.commons.lang3.StringUtils).isNotEmpty(session.user.nickname) ? session.user.nickname : session.user.name}"></a>
        <span style="padding-left: 15px;"></span>
        <a th:href="@{'/logout?t=' + ${timestamp}}">退出登录</a>
    </p>
    <p th:if="${session.isLoggedin}">
        <span style="padding-left: 0px;">最近一次登录</span>
        <span th:text="${session.user.lastLoginIp}" style="padding-left: 10px;"></span>
        <span th:if="${session.user.lastLoginTime > 0}" style="padding-left: 10px;">[[${T(org.xiangqian.auto.deploy.util.DateUtil).formatSecond(session.user.lastLoginTime)}]]</span>
    </p>
    <table th:if="${session.isLoggedin}">
        <thead>
        <tr><td>JVM</td><td style="padding-left: 60px">操作系统</td></tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <table>
                    <tbody>
                    <tr><td>厂商</td><td id="jvmVendor" th:text="*{jvm.vendor}" style="padding-left: 10px;"></td></tr>
                    <tr><td>版本</td><td id="jvmVersion" th:text="*{jvm.version}" style="padding-left: 10px;"></td></tr>
                    <tr><td>最大内存</td><td id="jvmMaxMemory" th:text="*{jvm.maxMemory}" style="padding-left: 10px;"></td></tr>
                    <tr><td>空闲内存</td><td id="jvmFreeMemory" th:text="*{jvm.freeMemory}" style="padding-left: 10px;"></td></tr>
                    </tbody>
                </table>
            </td>
            <td style="padding-left: 60px">
                <table>
                    <tbody>
                    <tr><td>名称</td><td id="osName" th:text="*{os.name}" style="padding-left: 10px;"></td></tr>
                    <tr><td>CPU负载</td><td id="osCpuLoad" th:text="*{os.cpuLoad}" style="padding-left: 10px;"></td></tr>
                    <tr><td>总内存</td><td id="osTotalMemory" th:text="*{os.totalMemory}" style="padding-left: 10px;"></td></tr>
                    <tr><td>空闲内存</td><td id="osFreeMemory" th:text="*{os.freeMemory}" style="padding-left: 10px;"></td></tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <p style="font-style: italic;"><span style="padding-right: 10px;">© 2024 xiangqian</span><a href="https://github.com/xiangqians/auto-deploy" target="_blank">关于</a></p>
</foot>
