<!--
 | @author xiangqian
 | @date 21:30 2024/03/04
 |-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/css/body.css}" type="text/css"/>
    <title th:text="${item.name} + '项目部署记录'"></title>
</head>
<body>
<table>
    <thead>
    <tr>
        <td>阶段</td>
        <td>提交信息</td>
        <td>触发者</td>
        <td>部署时间</td>
        <td>部署状态</td>
        <td>部署耗时</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record : ${records}"
        th:id="${record.id}">
        <td th:with="pullState=${record.getPullState()},buildState=${record.getBuildState()},packState=${record.getPackState()},uploadState=${record.getUploadState()},unpackState=${record.getUnpackState()},deployState=${record.getDeployState()}">
            <a th:if="${pullState == null}">拉取资源</a>
            <a th:if="${pullState != null}"
               th:href="@{'/item/' + ${item.id} + '/record/' + ${record.id} + '/pull?t=' + ${timestamp}}"
               th:text="${'拉取资源' + ' ( ' + T(org.xiangqian.auto.deploy.util.DateUtil).humanDurationSecond(record.getPullDuration()) + ' )'}"
               th:style="${pullState == 0 ? 'color: rgba(128, 128, 128, 0.9);' : (pullState == 1 ? 'color: green;' : 'color: red;')}"></a>
            →
            <a th:if="${buildState == null}">构建</a>
            <a th:if="${buildState != null}"
               th:href="@{'/item/' + ${item.id} + '/record/' + ${record.id} + '/build?t=' + ${timestamp}}"
               th:text="${'构建' + ' ( ' + T(org.xiangqian.auto.deploy.util.DateUtil).humanDurationSecond(record.getBuildDuration()) + ' )'}"
               th:style="${buildState == 0 ? 'color: rgba(128, 128, 128, 0.9);' : (buildState == 1 ? 'color: green;' : 'color: red;')}"></a>
            →
            <a th:if="${packState == null}">打包</a>
            <a th:if="${packState != null}"
               th:href="@{'/item/' + ${item.id} + '/record/' + ${record.id} + '/pack?t=' + ${timestamp}}"
               th:text="${'打包' + ' ( ' + T(org.xiangqian.auto.deploy.util.DateUtil).humanDurationSecond(record.getPackDuration()) + ' )'}"
               th:style="${packState == 0 ? 'color: rgba(128, 128, 128, 0.9);' : (packState == 1 ? 'color: green;' : 'color: red;')}"></a>
            →
            <a th:if="${uploadState == null}">上传</a>
            <a th:if="${uploadState != null}"
               th:href="@{'/item/' + ${item.id} + '/record/' + ${record.id} + '/upload?t=' + ${timestamp}}"
               th:text="${'上传' + ' ( ' + T(org.xiangqian.auto.deploy.util.DateUtil).humanDurationSecond(record.getUploadDuration()) + ' )'}"
               th:style="${uploadState == 0 ? 'color: rgba(128, 128, 128, 0.9);' : (uploadState == 1 ? 'color: green;' : 'color: red;')}"></a>
            →
            <a th:if="${unpackState == null}">解包</a>
            <a th:if="${unpackState != null}"
               th:href="@{'/item/' + ${item.id} + '/record/' + ${record.id} + '/unpack?t=' + ${timestamp}}"
               th:text="${'解包' + ' ( ' + T(org.xiangqian.auto.deploy.util.DateUtil).humanDurationSecond(record.getUnpackDuration()) + ' )'}"
               th:style="${unpackState == 0 ? 'color: rgba(128, 128, 128, 0.9);' : (unpackState == 1 ? 'color: green;' : 'color: red;')}"></a>
            →
            <a th:if="${deployState == null}">部署</a>
            <a th:if="${deployState != null}"
               th:href="@{'/item/' + ${item.id} + '/record/' + ${record.id} + '/deploy?t=' + ${timestamp}}"
               th:text="${'部署' + ' ( ' + T(org.xiangqian.auto.deploy.util.DateUtil).humanDurationSecond(record.getDeployDuration()) + ' )'}"
               th:style="${deployState == 0 ? 'color: rgba(128, 128, 128, 0.9);' : (deployState == 1 ? 'color: green;' : 'color: red;')}"></a>
        </td>
        <td th:with="commitMsg=${T(org.apache.commons.lang3.StringUtils).isNotEmpty(record.commitId) ? (record.commitAuthor + ' ' + record.commitTime + ' ' + record.commitMsg) : ''}"
            th:text="${commitMsg.length > 30 ? T(org.apache.commons.lang3.StringUtils).substring(commitMsg, 0, 30) + ' ...' : commitMsg}"
            th:title="${commitMsg}"></td>
        <td th:text="${T(org.apache.commons.lang3.StringUtils).isNotEmpty(record.userNickname) ? (record.userName + ' ( ' + record.userNickname + ' )') : record.userName}"></td>
        <td th:text="${T(org.xiangqian.auto.deploy.util.DateUtil).humanSecond(record.addTime)}"></td>
        <td th:switch="${record.state}">
            <span th:case="0" style="color: rgba(128, 128, 128, 0.9);">部署中</span>
            <span th:case="1" style="color: green;">部署成功</span>
            <span th:case="2" style="color: red;">部署失败</span>
        </td>
        <td th:text="${T(org.xiangqian.auto.deploy.util.DateUtil).humanDurationSecond(record.getDuration())}"></td>
        <td style="visibility: hidden;">
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="6">
            <span th:each="_offset : ${offsets}" th:with="disabled=${offset.equals(_offset)}">
                <a th:if="${_offset == null}">...</a>
                <a th:if="${_offset != null}"
                   th:href="@{'/item/' + ${item.id} + '/record/list?offset=' + ${_offset} + ${rows != null ? ('&rows=' + rows): ''} + '&t=' + ${timestamp}}"
                   th:text="${_offset}"
                   th:class="${disabled ? 'disabled' : ''}"
                   th:style="${disabled ? 'color: rgba(128, 128, 128, 0.6);' : ''}"></a>
            </span>
        </td>
    </tr>
    </tfoot>
</table>
</body>
<div th:replace="foot"></div>
</html>
<script type="text/javascript" th:src="@{/static/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/js/body.js}"></script>
<script type="text/javascript">
    ;
    $(function () {
        function Item(id, name) {
            this.id = id
            this.name = name
        }

        function getItem($element) {
            // 查找元素最近的父级<tr>元素
            let $tr = $element.closest('tr')

            let id = $tr.attr('id')
            let name = $tr.attr('name')
            return new Item(id, name)
        }

        // 删除
        $('button[name=del]').click(function (event) {
            // 获取目标<button>元素
            let $button = $(event.currentTarget)

            let item = getItem($button)
            if (confirm(`确定删除项目：${item.name} ？`)) {
                return true
            } else {
                return false
            }
        })
    })
    ;
</script>
