<!--
 | @author xiangqian
 | @date 18:55 2024/03/03
 |-->

<!DOCTYPE html>
<html lang="en" th:with="isUpd=${vo} != null and ${vo.id} != null">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" th:href="@{/static/favicon.ico}">
    <link rel="stylesheet" th:href="@{/static/css/body.css}" type="text/css" />
    <title th:text="${isUpd ? ('Git：' + vo.name) : '新增Git'}"></title>
</head>
<body>
<error th:text="${error}"></error>
<form method="post" th:action="@{'/git' + (${isUpd} ? '/' + ${vo.id} : '') + '?t=' + ${timestamp}}">
    <input th:if="${isUpd}" name="_method" value="PUT" type="hidden">
    <table>
        <tbody>
        <tr>
            <td><span style="font-weight: bold;">*</span><label>名称</label></td>
            <td><input id="name" name="name" type="text" th:value="${vo != null ? vo.name : ''}" required autofocus></td>
        </tr>
        <tr>
            <td><span style="font-weight: bold;">*</span><label>用户</label></td>
            <td><input id="user" name="user" type="text" th:value="${vo != null ? vo.user : ''}" required></td>
        </tr>
        <tr>
            <td><span style="font-weight: bold;">*</span><label>密码</label></td>
            <td><input id="passwd" name="passwd" type="text" th:value="${vo != null ? vo.passwd : ''}" required></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" th:value="${isUpd ? '修改' : '新增'}">
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
<div th:replace="foot"></div>
</html>
<script type="text/javascript" th:src="@{/static/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/static/js/foot.js}"></script>
